* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero_section {
  display: flex;
  align-items: center;
  /* aligns items across y-axis */
}

.background {
  background-image: url(./images/hero-1-800x1200.jpg);
  height: 100vh;
  width: 50vw;
  background-repeat: round;
  background-size: cover;
  background-attachment: scroll;
}

#middle_curve {
  position: relative;
  float: right;
  bottom: 30.5rem;
  left: 6.4rem;
  width: 20rem;
}

/* 1rem = 16px */
.right_part {
  text-align: center;
  text-transform: uppercase;
}

#inscription {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ff490d;
  padding: 0 2.3rem;
  font-size: 3.5rem;
  line-height: 1.1;
  position: relative;
  bottom: 3rem;
  width: fit-content;
}

nav {
  display: flex;
  /* to pin the nav_bar to the top */
  position: fixed;
  top: 2rem;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  margin: 0 2rem;
}
#logo {
  width: 1.5rem;
  height: 1.5rem;
}
#cook {
  float: right;
  padding: 0.2rem 0.3rem;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  position: relative;
  left: 22rem;
}
nav ul li {
  margin-left: 3rem;
}

#indicator {
  text-decoration-line: underline;
  text-decoration-color: #ff490d;
  text-decoration-style: solid;
  /* space between text and line */
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
}

#button {
  background-color: #ff490d;
  opacity: 1;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  position: relative;
  bottom: 16px;
}

.lower_left {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ff490d;
  position: relative;
  bottom: 1rem;
}

#curvy_line {
  position: inherit;
  bottom: 1rem;
}
.second_section {
  height: 40vw;
  background-color:antiquewhite;
}

.second_section p {
  width: 50vw;
  font-size: 1.2rem;
  text-align: left;
}

.second_section p,
.second_section h1 {
  padding: 0 4rem 2rem 4rem;
}

.second_section h1 {
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-line: underline;
  text-decoration-color: #ff490d;
  text-decoration-style: solid;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  width: 50vw;
}
#image {
  float: right;
  width: 50vw;
  height: 40vw;
}

#lower_arrow {
  position: relative;
  float: right;
  top: 9rem;
}

